<ion-header>
  <ion-toolbar>
    <ion-title>
      Andrés Blanco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row style="font-weight: bold;">
        <ion-col style="background-color:#CD5C5C">
          <div style="color: #FFA07A">
            Nombre
          </div>
        </ion-col>
        <ion-col style="background-color:#CD5C5C">
          <div style="color: #FFA07A" >
            Nacionalidad
          </div>
        </ion-col>
        <ion-col style="background-color:#CD5C5C">
          <div style="color: #FFA07A">
            Edad
          </div>
        </ion-col>
        <ion-col style="background-color:#CD5C5C">
          <div style="color: #FFA07A">
            Foto
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold;">
           Andrés Eduardo Blanco Celis
          </div>
        </ion-col>
        <ion-col>
          <div >
            Mexicano
          </div>
        </ion-col>
        <ion-col>
          <div >
            17
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;">
            <img src="https://vignette.wikia.nocookie.net/fortnite/images/c/ce/Fishstick_-_Outfit_-_Fortnite.png/revision/latest?cb=20190530091453">
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold;" >
            Santiago Aguilera
          </div>
        </ion-col>
        <ion-col>
          <div >
            Peruano
          </div>
        </ion-col>
        <ion-col>
          <div >
            9
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;" >
            <img src="http://media.discovernikkei.org/articles/7349/foto1.jpg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold;" >
            Gabriel Olvera
          </div>
        </ion-col>
        <ion-col>
          <div >
            Wakandiano
          </div>
        </ion-col>
        <ion-col>
          <div >
            24
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxb-F-Ff50i8GU1FV6sLU-kHQ68o_YbA1jVpx8snqYfX1krTrO&s">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <h1> Stacked Horizontal</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm style="background-color:#FA93F5">
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#FA93F5">
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#FA93F5">
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#FA93F5">
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

<h1> Offsetting Columns</h1>

  <ion-grid>
  <ion-row>
    <ion-col size="3" style="background-color:#FAF893">
      <div>
        1 of 2
      </div>
    </ion-col>
    <ion-col size="3" offset="3" style="background-color:#FAF893">
      <div>
        2 of 2
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

    <h1>Push and Pull</h1>

<ion-grid>
  <ion-row>
    <ion-col size="9" push="3" style="background-color:#93FAA6">
      <div>
        1 of 2
      </div>
    </ion-col>
    <ion-col size="3" pull="9" style="background-color:#93FAA6">
      <div>
        2 of 2
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>andresblancocontact@gmail.com</ion-title>
  </ion-toolbar>
</ion-footer>
